body {
/* Margen predeterminad */
margin: 0;
/* Margen pa dentro */
padding: 0;
/* tamaño de texto */
font-size: 13px;
/* fuente de texto */
font-family: Arial, Helvetica, sans-serif;
}
/* Navegación */
header{ 
    /* width-ancho/height-alto */ 
width: 100%; 
height: 65px; 
}
header nav{
display: flex;
justify-content:flex-end;
}
header nav .nav-right-section{
/* eliminar viñetas */
list-style: none;
width: 250px; 
display: flex;
justify-content: center;
align-items: center;
height: auto;
}
nav .nav-right-section a{
    /* color de texto */
    color:rgb(21, 21, 21);
    /* linea debajo del texto */
    text-decoration:none;
    /* margen derecho */
    margin-right: 25px;
}
nav .nav-right-section .menu{
    background-image:url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /* contiene a la imagen */
    background-size: contain;
    background-repeat: no-repeat; 
}

nav .nav-right-section img{
 /* margin left- margen a la izquierda solamente */   margin-left: 20px;
 /* redondear */ border-radius:100px;
 /* width-anchura */
 width: 35px;
}
/* main */
main{
 text-align:center;
 margin-top: 160px;   
}
/* sección google */
main .main-logo{width:530px; margin:0 auto;margin-bottom: 40px;}
/* Logo google */
main .main-logo img{height:100px;}
/* sección input */
main .main-input{
    /* widht- anchura */width:550px;
    /* margenes y centrado */
    margin: 0 auto;
    /* separar input de botones*/
margin-bottom: 40px; 
}
/* cajita gris redondeada buscador */
main .main-input-container{ 
 /* ancho de linea, estilo y color */   
    border: 1px solid #dfe1e5;
    /* bordes redondeados */
    border-radius: 30px;
    width: 550px;
     /* Mis componentes sean flexibles y se muevan */
     display: flex;
     justify-content: center;
     align-items: center;
}
main .main-input input{height: 40px; width:430px;
    /* quitar borde negro */
    border: none;
    /* quitar borde azul al hacer clic */
    outline:none; 

}
main .main-input .search-icon{
    /* poner una imagen*/
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /* centrar la imagen*/
    background-position:center;
    /* tamaño del ícono*/
     width: 15px;
     height:15px;
     /* ícono contenido */
      background-size: contain;
       padding-left:6%; 
       background-repeat:no-repeat;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    /* Ícono contenido en el espacio */
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6%;
}

main .main-buttons{
    width: 550px;
    /* Vertical / Horizonal  */
    margin: 0 auto;
}

main .main-buttons div{
    /* Alinear elementos en la misma línea */
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
}
/* Nos permite agregarle diseño al poner cursor sobre elemento */
main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}
main .main-buttons button:hover{
    color:#202124;
    /* ancho de línea - estilo de línea - color */
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


